<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{/commons/common :: common_header(~{::title},~{})}">

        <title>消息中心</title>

    </head>
    <body>

        <div class="wrapper">
            <div th:replace="~{/commons/common :: sidebar}"></div>

            <div class="content-page">
                <div class="content">
                    <div th:replace="~{/commons/common :: navbar}"></div>

                    <!--===============main content start===============-->
                    <!--使用ajax实现-->




                    <!--===============main content end===============-->
                </div>
            </div>

        </div>




        <div th:replace="~{/commons/common :: common_js(~{})}"></div>
    <script>
        function show_messages(){

        }
    </script>
    </body>
</html>