<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons/common :: common_header(~{::title},~{::link})}">

        <title>Project List</title>

        <!-- third party css -->
        <link th:href="@{/assets/css/vendor/dataTables.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/vendor/responsive.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/vendor/buttons.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/vendor/select.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

    </head>

<body>

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================= -->
        <!-- ===============    side menu content start  ================= -->
        <!-- ============================================================= -->
        <div th:replace="~{commons/common :: sidebar-admin}"></div>
        <!-- ============================================================= -->
        <!-- ===============     side menu content End   ================= -->
        <!-- ============================================================= -->


        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- ============================================================= -->
                <!-- ===============    Top bar header content start  ================= -->
                <!-- ============================================================= -->
                <div th:replace="~{commons/common :: navbar-admin}"></div>
                <!-- ================================================================== -->
                <!-- ===============    Top bar header content end  ================= -->
                <!-- ================================================================== -->


                <!-- Start Content-->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/index}"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item active" th:text="#{project_list}"></li>
                                </ol>
                            </div>
                            <h4 class="page-title" th:text="#{project_list}"></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div id="selection-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="selection-datatable_length">
                                                <input style="display: none" id="page" th:value="${page}">
                                                <input style="display: none" id="step" th:value="${step}">
                                                <input style="display: none" id="orderby" th:value="${orderby}">
                                                <input style="display: none" id="mode" th:value="${mode}">


                                                <label>展示
                                                    <select name="selection-datatable_length" aria-controls="selection-datatable" th:value="${step}" class="custom-select custom-select-sm form-control form-control-sm" onchange="{
                                                        location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$(this).val()+'&orderby='+$('#orderby').val()+'&mode='+$('#mode').val();
                                                    }">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> 项
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <a class="btn btn-primary" th:href="@{/admin/project-list-n(page=${page},step=${step},orderby=${orderby},mode='asc')}">正序</a>
                                                <a class="btn btn-primary" th:href="@{/admin/project-list-n(page=${page},step=${step},orderby=${orderby},mode='desc')}">倒序</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="selection-datatable" class="table dt-responsive nowrap dataTable no-footer dtr-inline" width="100%" role="grid" aria-describedby="selection-datatable_info" style="width: 100%;">
                                                <thead>
                                                    <tr role="row" id="sorting_control">
                                                        <th class="sorting" tabindex="0" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_id&mode='+$('#mode').val();}">项目Id</th>
                                                        <th class="sorting" tabindex="1" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_name&mode='+$('#mode').val();}">项目名称</th>
                                                        <th class="sorting" tabindex="2" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_charge_person_id&mode='+$('#mode').val();}">负责人学号</th>
                                                        <th class="sorting" tabindex="3" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_funds_up&mode='+$('#mode').val();}">项目经费</th>
                                                        <th class="sorting" tabindex="4" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_class_id&mode='+$('#mode').val();}">项目类别</th>
                                                        <th class="sorting" tabindex="5" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_start_time&mode='+$('#mode').val();}">起始时间</th>
                                                        <th class="sorting" tabindex="6" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_end_time&mode='+$('#mode').val();}">截止时间</th>
                                                        <th class="sorting" tabindex="7" onclick="{location.href='/admin/project-list-n?page='+$('#page').val()+'&step='+$('#step').val()+'&orderby=project_state_id&mode='+$('#mode').val();}">项目状态</th>
                                                        <th tabindex="8" aria-controls="selection-datatable" rowspan="1" colspan="1" >有无论文</th>
                                                        <th tabindex="9" aria-controls="selection-datatable" rowspan="1" colspan="1" >操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row" class="odd" th:each="p: ${projects}">
                                                        <td th:text="${p.getProjectId()}"></td>
                                                        <td th:text="${p.getProjectName()}"></td>
                                                        <td th:text="${p.getProjectChargePersonId()}"></td>
                                                        <td th:text="${p.getProjectFundsUp()}"></td>
                                                        <td th:text="${project_class.get(p.getProjectClassId()).getProjectClass()}"></td>
                                                        <td th:text="${#dates.format(p.getProjectStartTime(),'yyyy-MM-dd')}"></td>
                                                        <td th:text="${#dates.format(p.getProjectEndTime(),'yyyy-MM-dd')}"></td>
                                                        <td th:text="${project_state.get(p.getProjectStateId()).getProjectState()}"></td>
                                                        <td th:text="${p.getProjectPaperId()!=null? '有':'无'}"></td>
                                                        <td>
                                                            <a class="d-inline-block" th:href="@{/admin/project-details(id=${p.getProjectId()})}">详情</a>
                                                            <a class="d-inline-block" th:href="@{/admin/project-update(id=${p.getProjectId()})}">修改</a>
                                                            <a style="display: none" th:href="@{/student/project/do-delete(id=${p.getProjectId()})}"></a>
                                                            <a class="d-inline-block text-danger" onclick="{
                                                                if(confirm('删除项目后，将永久清除与项目关联的所有信息，包括已提交的论文！确定要继续吗？')===true){
                                                                    $.ajax(
                                                                        {
                                                                        type: 'POST',
                                                                        url: $(this).prev().attr('href'),
                                                                        success:function (){
                                                                            alert('项目删除成功！');
                                                                            location.reload();
                                                                        },
                                                                        error:function (){alert('项目删除失败！')}
                                                                        }
                                                                    )
                                                                }else{
                                                                    return;
                                                                }
                                                            };
                                        return false;">删除</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="selection-datatable_info" role="status" aria-live="polite" th:text="${'第'+ (page+1) + '页，共'+max_pages+'页'}"></div>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <nav th:replace="~{commons/common :: pagnation}"></nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container -->

            </div>
            <!-- content -->

            <!-- ============================================================= -->
            <!-- ===============    footer content start  ================= -->
            <!-- ============================================================= -->

            <footer th:replace="~{commons/common :: footer}"></footer>
            <!-- ============================================================= -->
            <!-- ===============    footer content start  ================= -->
            <!-- ============================================================= -->


        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <script>
        window.onload= function (){

            if($('#mode').val()==="asc"){
                $('#asc').checked=true;
            }else{
                $('#desc').checked=true;
            }
        }
    </script>

    <div th:replace="commons/common :: common_js(~{})"></div>
</body>

</html>
