<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{commons/common :: common_header(~{::title},~{::link})}">

        <title>Project List</title>

        <!-- third party css -->
        <link th:href="@{/assets/css/vendor/dataTables.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/vendor/responsive.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/vendor/buttons.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/vendor/select.bootstrap4.css}" rel="stylesheet" type="text/css" />
        <!-- third party css end -->

    </head>

<body>

    <!-- Begin page -->
    <div class="wrapper">

        <!-- ============================================================= -->
        <!-- ===============    side menu content start  ================= -->
        <!-- ============================================================= -->
        <div th:replace="~{commons/common :: sidebar-admin}"></div>
        <!-- ============================================================= -->
        <!-- ===============     side menu content End   ================= -->
        <!-- ============================================================= -->


        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- ============================================================= -->
                <!-- ===============    Top bar header content start  ================= -->
                <!-- ============================================================= -->
                <div th:replace="~{commons/common :: navbar-admin}"></div>
                <!-- ================================================================== -->
                <!-- ===============    Top bar header content end  ================= -->
                <!-- ================================================================== -->


                <!-- Start Content-->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/index}"><i class="feather icon-home"></i></a></li>
                                    <li class="breadcrumb-item active" th:text="#{project_list}"></li>
                                </ol>
                            </div>
                            <h4 class="page-title">用户列表</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive-sm">

                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">学号</label>
                                        <div class="col-sm-9">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" id="search-id" placeholder="请输入要搜索的学号">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" type="button" onclick="{location.href='/admin/user-list-n?type=0&page=0&uid='+$('#search-id').val()}">搜索</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">邮箱</th>
                                                <th scope="col">学号</th>
                                                <th scope="col">姓名</th>
                                                <th scope="col">专业</th>
                                                <th scope="col">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="u: ${list}">
                                                <td th:text="${u.getEmail()}"></td>
                                                <td th:text="${u.getUserId()}"></td>
                                                <td th:text="${u.getUserName()}"></td>
                                                <td th:text="${u.getMajor()}"></td>
                                                <td>
                                                    <a class="d-inline-block" th:href="@{/admin/user-change(id=${u.getUserId()})}">修改</a>
                                                    <a th:href="@{/admin/user-delete(id=${u.getUserId()})}" style="display: none"></a>
                                                    <a href="javascript: void(0);" class="d-inline-block"  onclick="{

                                                        if(confirm('删除用户将删除所有与之关联的项目及论文！确定要继续吗？')===true){

                                                            $.ajax({
                                                              type: 'POST',
                                                              url: $(this).prev().attr('href'),
                                                              success: function (){
                                                                  alert('删除成功！');
                                                                  location.reload();
                                                              },
                                                              fail: function (){
                                                                  alert('删除失败！');
                                                              }
                                                            })
                                                        }

                                                    }return false;">删除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <nav th:replace="~{commons/common :: pagnation}"></nav>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container -->

            </div>
            <!-- content -->

            <!-- ============================================================= -->
            <!-- ===============    footer content start  ================= -->
            <!-- ============================================================= -->

            <footer th:replace="~{commons/common :: footer}"></footer>
            <!-- ============================================================= -->
            <!-- ===============    footer content start  ================= -->
            <!-- ============================================================= -->


        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <div th:replace="commons/common :: common_js(~{})"></div>
</body>

</html>
